{% extends "base.html" %}

{% block title %}ADOS - Návrh{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/documents/navrh.css') }}">

<h1><b>Návrh na poskytovanie ošetrovateľskej starostlivosti</b></h1>

<form id="mainForm">
    <div class="inline-form">
        <label>Zdravotnícke zariadenie: </label>
        <input type = "text" id="zdravotnickeZariadenie" name="zdravotnickeZariadenie">
    </div>

    <div class="inline-form">
        <label>so sídlom v: </label>
        <input type = "text" id="soSidlomV" name="soSidlomV">
    </div>

    <div style="width: 600px">
        <div class="form-group inline-form" style="position: relative;">
            <label>Meno, priezvisko, titul pacienta/pacientky: </label>
            <input required type="text" id="patientSearch" name="patientSearch" autocomplete="off"
                placeholder="Zadaj meno alebo rodné číslo...">
            <div id="patient-suggestions" class="suggestions"></div>
        </div>

        <div id="selected-patient" class="selected-patient" style="display: none;">
            <div class="inline-form special-margin-bottom">
                <label>Rodné číslo: </label>
                <p id="rodneCislo"></p>
                <label>Číslný kód zdravotnej poisťovne: </label>
                <p id="kodPoistovne"></p>
            </div>

            <div class="inline-form">
                <label>Bydlisko trvalé: </label>
                <p id="bydliskoTrvale"></p>
            </div>
        </div>
    </div>


    <div class="inline-form">
        <label>Bydlisko prechodné: </label>
        <input required type = "text" id="bydliskoPrechodne" name="bydliskoPrechodne">
    </div>

    <label>Epikriza a zdôvodnenie pre poskytovanie ošetrovateĺskej starostlivosti: </label>
    <input required type = "text" id="epikriza" name="epikriza">

    <div class="form-group" style="position: relative;">
        <label for="diagnoza">Lekárská diagnóza (slovom alebo čislom podĺa MKCH):</label>
        <input type="text" id="lekarskaDiagnoze" name="lekarskaDiagnoze" autocomplete="off">
        <input type="hidden" id="diagnoza_id">
        <div id="diagnoza-suggestions" class="suggestions"></div>
    </div>

    <label>Sestrská diagnóza (slovom alebo čislom podĺa Zoznamu sesterských diagnz): </label>
    <input required type = "text" id="sesterskaDiagnoza" name="sesterskaDiagnoza">


    <div class="checkbox-container navrh-checkbox-container">
        <input type="checkbox" id="HCheckBox">
        <label for="HCheckBox">H - pacient/pacientka s obmedzenou pohyblivosťou</label>
        <label for="HCheckBox">(50%)</label>
    </div>
    <div class="checkbox-container navrh-checkbox-container">
        <input type="checkbox" id="ICheckBox">
        <label for="ICheckBox">I - imobilný pacient/pacientka</label>
        <label for="ICheckBox">(75%)</label>
    </div>
    <div class="checkbox-container navrh-checkbox-container">
        <input type="checkbox" id="FCheckBox">
        <label for="FCheckBox">F - pacient/pacientka s psychiatrickou diagnózou,<br>mentálne retardovaný pacient-pacientka</label>
        <label for="FCheckBox">(75%)</label>
    </div>

    <label><b>Plán ošetrovateĺskej startostlivosti:</b></label>
    <input required type = "text" id="PlanOsStarostlivosty" name="PlanOsStarostlivosty">

    <label>Výkony vyjadré kódom a ich frekvencia realizácie:</label>
    <input required type = "text" id="Vykony" name="Vykony">

    <label><b>Predpokladná dĺžka ošetrovateĺskej starostlivosti:</b></label>

    <div class="radio-group">
        <label class="radio-option">
          <input type="radio" name="duration" value="1">
          do 1 mesiaca
        </label>
        <label class="radio-option">
          <input type="radio" name="duration" value="3">
          do 3 mesiacov
        </label>
        <label class="radio-option">
          <input type="radio" name="duration" value="6">
          do 6 mesiacov
        </label>
        <label class="radio-option">
          <input type="radio" name="duration" value="more">
          nad 6 mesiacov
        </label>
    </div>

    <label><b>Meno, priezvisko lekára, ktorý ošetrovateĺskú starostlivosť navrhoval:</b></label>
    <input required type = "text" id="lekar" name="lekar">

    <div class="footer">
        <div class="inline-form">
            <label>Dátum:</label>
            <input type="text" name="currentDate", id="currentDate" class="date-input" placeholder="DD.MM.YYYY" maxlength="10">
        </div>

        <div class="inline-form sign">
            <div class="special-margin">
                <label>........................</label>
                <br>
                <label>podpis lekára<br>a odtlačok pečiatky</label>
            </div>
            <div>
                <label>............................................................................</label>
                <br>
                <label>podpis odborného zástupcu poskytovateĺa<br>ošetrovateĺskej starostlivosti a sdtlačok pečiatky</label>
            </div>
        </div>
    </div>
</form>
<button id="printButton" class="button no-print">Print document</button>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/sk.js"></script>
<script src="{{ url_for('static', filename='js/documents/navrh.js') }}"></script>
<script src="{{ url_for('static', filename='js/documents/navrhIllnessList.js') }}"></script>
{% endblock %}
