.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
}