<main-popup>
    <h1>Pridať nové auto</h1>

    <div class="section">
        <div class="lined-heading"><span>Údaje o aute</span></div>
        <form id="carForm" method="POST" action="{{ url_for('car.create_car') }}">
            <div class="form-group">
                <label for="evc">Evidenčné číslo vozidla (EČV)</label>
                <input type="text" name="evc" id="evc" placeholder="Zadajte EČV" required>
            </div>
            <button type="submit" class="btn">Pridať</button>
        </form>
    </div>
</main-popup>


