{% extends "base.html" %}

{% block title %}ADOS{% endblock %}

{% block content %}

<h1>Dekurz - nový mesiac</h1>

<div class="section">
    <div class="form-group">
        <label for="month">Mesiac</label>
        <input type="month" id="month" required">
    </div>

    <div class="half-form-group">
        <div class="form-group">
            <label for="zs_start_time">Čas poskytnutia ZS</label>
            <input type="time" id="zs_start_time" value="08:00" required>
        </div>

        <div class="form-group">
            <input type="time" id="zs_end_time" value="14:00" required>
        </div>
    </div>

    <div class="half-form-group">
        <div class="form-group">
            <label for="write_start_time">Čas zápisu</label>
            <input type="time" id="write_start_time" value="14:00" required>
        </div>

        <div class="form-group">
            <input type="time" id="write_end_time" value="15:30" required>
        </div>
    </div>

    <button class="btn" type="submit">Vytvoriť</button>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/create/month.js') }}"></script>
{% endblock %}