.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 6px 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-transform: uppercase;
}

.accent {
    width: 30%;
    font-size: 1rem;
    color: #333;
    text-transform: capitalize;
}

.delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.delete-button btn {
    background-color: none;
}