<main-popup>
    <h1>Zoznam Doktorov</h1>

    <div class="section">
        <div class="form-group">
            <input type="text" id="searchInput" placeholder="Vyhľadaj doktora podľa mena alebo kódu..." />
        </div>

        <div id="results">
            {% for doctor in doctors %}
            <div class="small-token" data-meno="{{ doctor.meno }}" data-pzs="{{ doctor.pzs }}" data-zpr="{{ doctor.zpr }}">
                {{ doctor.meno }} — {{ doctor.pzs }}, {{ doctor.zpr }}
            </div>
            {% endfor %}
        </div>
    </div>
</main-popup>

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details/lists.css') }}">
{% endblock %}

