<!DOCTYPE html>
<html lang="sk">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dohoda </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="page" id="page">

        <h1>
            Dohoda o poskytovaní zdravotnej starostlivosti v rozsahu<br />
            ošetrovateľskej starostlivosti
        </h1>

        <form id="mainForm">
            <!-- Search / autocompletion row -->
            <div>
                <div class="block inline">
                    <label>Meno, priezvisko, titul poistenca:</label>
                    <input required type="text" id="patientSearch" name="patientSearch" autocomplete="off" class=" highlight"
                        placeholder="Zadaj meno alebo rodné číslo..." autofocus />
                    <div id="patient-suggestions" class="suggestions"></div>
                </div>

                <div id="selected-patient" class="selected-patient">
                    <div class="inline inline-2 block">
                        <label>Rodné číslo:</label>
                        <div id="rodneCislo" class="input">&nbsp;
                        </div>
                        <label>Číselný kód zdravotnej poisťovne:</label>
                        <div id="kodPoistovne" class="input">&nbsp;
                        </div>
                    </div>
                    <div class="inline block">
                        <label>Miesto trvalého pobytu:</label>
                        <div id="bydliskoTrvale" class="input">&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="block inline">
                <label>Miesto prechodného pobytu:</label>
                <input type="text" id="miesto_prechodneho_pobytu" name="miesto_prechodneho_pobytu" 
                    class="" />
            </div>

            <div class="block inline">
                <label>Kontaktná osoba, zákonný zástupca:</label>
                <input type="text" id="kontaktna_osoba" name="kontaktna_osoba" class="" />
            </div>

            <div class="spacer"></div>

            <p>
                Uzatváram dohodu o poskytovaní zdravotnej starostlivosti v rozsahu ošetrovateľskej starostlivosti
                v zmysle § 12 zákona č. 576/2004 Z. z. o zdravotnej starostlivosti, službách súvisiacich
                s poskytovaním zdravotnej starostlivosti a o zmene a doplnení niektorých zákonov v znení
                neskorších predpisov s
            </p>

            <div class="spacer"></div>
            <p>Poskytovateľom ošetrovateľskej starostlivosti:</p>
                
            <p class="input">Agentúra domácej ošetrovateľskej starostlivosti</p>

            <div class="block inline">
                <label>Názov a adresa: </label>
                <input type="text" id="nazovAAdresa" name="nazovAAdresa" class="" />
            </div>

            <div class="block inline">
                <label>Meno, priezvisko, titul odborného zástupcu:</label>
                <input type="text" id="nurse" class="" value="{{ session['nurse']['meno'] }}" required />
            </div>

            <div class="block inline">
                <label>Telefónne číslo:</label>
                <input type="text" id="phone_number" class="" value="{{ session['nurse']['phone_number'] }}"
                    required />
            </div>

            <div class="spacer"></div>

            <p><strong>
                    Vyhlasujem na svoju česť, že nemám súbežne uzavretú žiadnu dohodu o poskytovaní zdravotnej
                    starostlivosti v rozsahu ošetrovateľskej starostlivosti s iným poskytovateľom.
                </strong></p>

            <p><strong>
                    Svojím podpisom potvrdzujem, že som bol(a) riadne poučený(á) podľa zákona č. 576/2004 Z. z. § 6
                    a dávam týmto informovaný súhlas na poskytovanie zdravotnej starostlivosti uhrádzanej na základe
                    verejného zdravotného poistenia v rozsahu ošetrovateľskej starostlivosti v ZSS v súvislosti s
                    platnou legislatívou.
                </strong></p>

            <div class="inline inline-2">
                <label>V/vo</label>
                <input required type="text" id="mesto" name="mesto" class="w-80" />
                <label>dňa:</label>
                <input type="text" id="currentDate">
            </div>

            <div class="signatures">
                <div>
                    <div class="sig-line"></div>
                    <div class="sig-caption small">podpis odborného zástupcu poskytovateľa<br />ošetrovateľskej
                        starostlivosti a odtlačok pečiatky</div>
                </div>
                <div>
                    <div class="sig-line"></div>
                    <div class="sig-caption small">podpis poistenca/zákonného zástupcu</div>
                </div>
            </div>
        </form>
    </div>

    <div class="no-print">
        <button class="btn" id="printButton" type="button">Vytlačiť</button>
    </div>
</body>

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documents/dohoda.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/documents/dohoda.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/sk.js"></script>
{% endblock %}
