<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: DejaVu Sans, sans-serif;
            margin: 40px;
        }

        h2,
        h3 {
            text-align: center;
        }

        .block {
            margin-top: 30px;
        }

        .entry {
            margin-bottom: 20px;
        }

        .entry-date {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2>DEKURZ OŠETROVATEĽSKEJ STAROSTLIVOSTI</h2>
    <div class="block">
        <strong>Meno pacienta:</strong> {{ meno }}<br>
        <strong>Rodné číslo:</strong> {{ rodne_cislo }}<br>
        <strong>Adresa:</strong> {{ adresa }}<br>
        <strong>ZP:</strong> {{ poistovna }}<br>
        <strong>ADOS:</strong> {{ company }}<br>
        <strong>Poradové číslo:</strong> {{ entry_number }}
    </div>

    <div class="block">
        {% for item in schedule %}
        <div class="entry">
            <div class="entry-date">{{ item.date }} – vyšetrenie: {{ item.vysetrenie }} – výpis: {{ item.vypis }}</div>
            <div>{{ item.text.replace('\n', '<br>')|safe }}</div>
        </div>
        {% endfor %}
    </div>

    <div class="block">
        <p>Vypracoval: {{ name_worker }}</p>
    </div>
</body>

</html>