{% extends "base.html" %}

{% block title %}ADOS - Dekurzy{% endblock %}

{% block content %}

<body data-first-day="{{ session['month']['prvy_den'] }}" data-last-day="{{ session['month']['posledny_den'] }}">

    <h1>
        {% if session.get('month') %}
        Mesiac: {{ "%02d" | format(session['month']['mesiac'] | int) }}/{{ session['month']['rok'] }}
        {% else %}
        Mesiac
        {% endif %}
    </h1>

    {% if session.get('nurse') %}

    <div class="section">
        <div class="lined-heading"><span>Vyhľadávanie</span></div>

        <div style="width: 600px">
            <div class="form-group" style="position: relative;">
                <input type="text" id="patientSearch" name="patientSearch" autocomplete="off"
                    placeholder="Zadaj meno alebo rodné číslo...">
                <div id="patient-suggestions" class="suggestions"></div>
            </div>

            <div id="selected-patient" class="selected-patient" style="display: none; margin-top: 20px;">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <accent>Meno</accent>
                            </td>
                            <td id="patient-meno"></td>
                        </tr>
                        <tr>
                            <td>
                                <accent>Rodné číslo</accent>
                            </td>
                            <td id="patient-rc"></td>
                        </tr>
                        <tr>
                            <td>
                                <accent>Adresa</accent>
                            </td>
                            <td id="patient-adresa"></td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" id="edit-patient-btn" class="text-button" style="margin-top: 20px;">Upraviť pacienta <i
                        class="bi bi-arrow-right"></i></a>

                <div class="half-form-group">
                    <div class="form-group">
                        <label for="date_start">Poskytovanie ZS</label>
                        <input class="dates" type="text" id="date_start" name="date_start" placeholder="Dátum od"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="dates" type="text" id="date_end" name="date_end" placeholder="Dátum do"
                            autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="schedule">Opakovanie</label>
                    <select id="schedule" name="schedule" required>
                        <option value="daily">Každý deň</option>
                        <option value="weekday">Každý pracovný deň</option>
                        <option value="3x_week">3x v týždni</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exceptions">Výnimky</label>
                    <input class="dates" type="text" id="exceptions" placeholder="Vyberte dátumy" autocomplete="off">
                </div>

                <button type="button" id="add-patient-btn" class="btn">Pridať pacienta</button>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="lined-heading"><span>Pacienti</span></div>
    </div>

    <div class="section">
        <div class="lined-heading"><span>Prehľad</span></div>
    </div>

    <div class="bottom-section">
        <button class="btn" type="submit">Uložiť</button>
    </div>

    {% else %}
    <p>Nie je prihlásený žiadny používateľ.</p>
    {% endif %}

</body>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}