/* GENERAL */
.c-btn {
    gap: var(--space-2);
    border-radius: var(--radius-md);
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

/* Normal */
.c-btn.v-normal {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: var(--space-3) var(--space-3);
    font-size: var(--ts-normal-size);
    font-weight: var(--ts-normal-weight);
    font-family: var(--ts-normal-font);
    background-color: var(--c-accent);
    color: var(--c-white);
}

.c-btn.v-normal .c-btn__icon {
    position: absolute;
    right: var(--space-3);
    font-size: var(--ts-normal-size);
    background-color: var(--c-white);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-sm);
    color: var(--c-accent);
}

.c-btn.v-normal .c-btn__text {
    margin: 0 auto;
}

.c-btn.v-normal:hover {
    background-color: var(--c-dark-grey);
}

.c-btn.v-normal:hover .c-btn__icon {
    color: var(--c-dark-grey);
}

/* Accent */
.c-btn.v-accent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-3) var(--space-5);
    font-size: var(--ts-heading-accent-size);
    font-weight: var(--ts-heading-accent-weight);
    font-family: var(--ts-heading-accent-font);
    background-color: var(--c-dark-grey);
    color: var(--c-white);
}

.c-btn.v-accent .c-btn__icon {
    font-size: var(--ts-heading-accent-size);
    color: var(--c-white);
}

.c-btn.v-accent:hover {
    background-color: var(--c-accent);
}

/* 3) MenuBig */
.c-btn.v-menubig {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    font-size: var(--ts-heading-accent-size);
    font-weight: var(--ts-heading-accent-weight);
    font-family: var(--ts-heading-accent-font);
    background-color: var(--c-white);
    color: var(--c-dark-grey);
}

.c-btn.v-menubig:hover {
    background: var(--c-almost-white);
    color: var(--c-accent);
}

/* 4) MenuSmallTag */
.c-btn.v-menusmalltag {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: var(--space-1) var(--space-3);
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    background-color: var(--c-white);
    color: var(--c-dark-grey);
}

.c-btn.v-menusmalltag .c-btn__tag {
    background: var(--c-almost-white);
    padding: var(--space-1) var(--space-3);
    font-size: var(--ts-mini-size);
    font-weight: var(--ts-mini-weight);
    font-family: var(--ts-mini-font);
    color: var(--c-light-grey);
    border-radius: var(--radius-md);
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

.c-btn.v-menusmalltag:hover {
    background: var(--c-almost-white);
    color: var(--c-accent);
}

.c-btn.v-menusmalltag:hover .c-btn__tag {
    background: var(--c-white);
    color: var(--c-light-grey);
}

/* MenuTag */
.c-btn.v-menutag {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--space-2);
    font-size: var(--ts-mini-size);
    font-weight: var(--ts-mini-weight);
    font-family: var(--ts-mini-font);
    background-color: var(--c-tag-3);
    color: var(--c-accent);
}

.c-btn.v-menutag:hover {
    background-color: var(--c-accent);
    color: var(--c-tag-3);
}

/* NavbarTag */
.c-btn.v-navbartag {
    display: flex;
    justify-content: center;
    padding: var(--space-1) var(--space-2);
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    background-color: var(--c-tag-2);
    color: var(--c-light-grey);
}

.c-btn.v-navbartag:hover {
    color: var(--c-white);
}

/* BasicSmall */
.c-btn.v-basicsmall {
    display: flex;
    justify-content: center;
    padding: var(--space-2) var(--space-3);
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    background-color: var(--c-accent);
    color: var(--c-white);
}

.c-btn.v-basicsmall:hover {
    background-color: var(--c-dark-grey);
}



.c-btn.v-basicsmall.is-primary {
    --btn-bg: color-mix(in srgb, var(--c-accent) 80%, black);
}

.c-btn.v-basicsmall.is-danger {
    --btn-bg: var(--c-warning);
}

/* Icon */
.c-btn.v-icon {
    display: flex;
    justify-content: center;
    padding: var(--space-2) var(--space-3);
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    background-color: var(--c-accent);
    color: var(--c-white);
}

.c-btn.v-icon:hover {
    background-color: var(--c-dark-grey);
}

/* NavbarIcon */
.c-btn.v-navbaricon {
    display: flex;
    justify-content: center;
    padding: var(--space-1) var(--space-2);
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    background-color: var(--c-white);
    color: var(--c-dark-grey);
}

.c-btn.v-navbaricon:hover {
    color: var(--c-accent);
}

/* Simple */
.c-btn.v-simple {
    display: flex;
    justify-content: center;
    font-size: var(--ts-heading-size);
    font-weight: var(--ts-heading-weight);
    font-family: var(--ts-heading-font);
    color: var(--c-dark);
    text-decoration: underline;
    background: transparent;
}

.c-btn.v-simple:hover {
    color: var(--c-accent);
}

/* SimpleTiny */
.c-btn.v-simpletiny {
    display: flex;
    justify-content: center;
    font-size: var(--ts-mini-size);
    font-weight: var(--ts-mini-weight);
    font-family: var(--ts-mini-font);
    color: var(--c-dark);
    text-decoration: underline;
    background: transparent;
}

.c-btn.v-simpletiny:hover {
    color: var(--c-accent);
}

/* INTENTS */
.c-btn.is-danger {
    background-color: var(--c-warning);
}

.c-btn.is-disabled,
.c-btn[aria-disabled="true"],
.c-btn:disabled {
    color: var(--c-light-grey);
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
    filter: none;
}