{% extends "base.html" %}
{% block title %}ADOS - Dashboard{% endblock %}

{% block content %}
<div class="one-line">
    <i class="bi bi-flower2 centerpiece"></i>
    <p>AdoCare</p>
</div>


<style>
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
    }

    .centerpiece {
        font-size: 8rem;
        color: #5C9EAD;
        animation: spin 50s linear infinite;
    }

    p {
        font-size: 2rem;
        color: #5C9EAD;
        margin-top: 20px;
    }

    .one-line {
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>

{% endblock %}
