{% extends "base.html" %}
{% block title %}ADOS - Dashboard{% endblock %}

{% block content %}
<h1>Prehľad</h1>

{% if session.get('nurse') %}
<div class="section">
    <div class="lined-heading"><span>Dekurzy</span></div>

    <div class="scroll-wrapper">
        <button class="scroll-arrow left" onclick="scrollDekurzy(-1)">
            <i class="bi bi-chevron-left"></i>
        </button>

        <div class="scroll" id="monthScroll">
            {% for month_dekurz in months_dekurz %}
            <a href="#" class="small-small-token month-select" data-id="{{ month_dekurz.id }}" data-mesiac="{{ month_dekurz.mesiac }}"
                data-rok="{{ month_dekurz.rok }}" data-prvy-den="{{ month_dekurz.prvy_den }}" data-vysetrenie ="{{ month_dekurz.vysetrenie_start }}" data-vypisanie="{{ month_dekurz.vypis_start }}"
                data-posledny-den="{{ month_dekurz.posledny_den }}">
                {{ "%02d" | format(month_dekurz.mesiac) }}/{{ month_dekurz.rok }}
            </a>
            {% endfor %}
        </div>

        <button class="scroll-arrow right" onclick="scrollDekurzy(1)">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>

    <a class="text-button" href="{{ url_for('month.create_month') }}">
        vypísať nový mesiac <i class="bi bi-arrow-right"></i>
    </a>
</div>


<div class="section">
    <div class="lined-heading"><span>Doprava</span></div>
</div>

<div class="section">
    <div class="lined-heading"><span>Pacienti</span></div>

    <a class="text-button" href="{{ url_for('patient.create_patient') }}">
        pridať pacienta<i class="bi bi-arrow-right"></i>
    </a>

    <a class="text-button" href="{{ url_for('patient.list_patients') }}">
        prehľadávať <i class="bi bi-arrow-right"></i>
    </a>
</div>

{% else %}
<p>Nie je prihlásený žiadny používateľ.</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}