
{% extends "base.html" %}
{% block title %}Prihlásenie{% endblock %}
{% import "components/inputs.html" as f %}

{% block content %}
    <h1 class="text-heading-accent text-center">Vitajte 👋<br>
    Prihláste sa do svojho účtu.</h1>

    {% call f.FieldGroup("Prihlásenie", width="500px", bg="var(--c-white)") %}

        {% call f.Row(cols=1) %}
        {{ f.Input(
        "prihlasovaci_kod",
        label="Prihlasovací kód",
        type="text",
        required=True,
        icons=[{'label':'Povinné pole','icon':'bi-asterisk'}],
        ) }}

        {{ f.Password(
        "pin",
        label="PIN",
        required=True,
        icons=[
        {'label': 'Skryté', 'icon': 'bi-eye-slash-fill'},
        {'label':'Povinné pole','icon':'bi-asterisk'}],
        ) }}

        {% endcall %}

    {% endcall %}
{% endblock %}