{% extends "base.html" %}
{% from "components/tables.html" import Table %}

{% block content %}

{% set columns = [
{"key": "title", "label": "Titul"},
{"key": "name", "label": "Meno"},
{"key": "surname", "label": "Priezvisko"},
{"key": "pzs", "label": "Kód PZS", "disabled": True},
{"key": "zpr", "label": "Kód ZPR"}
] %}

{% set doctors = [
{"id": 1, "title": "MUDr.", "name": "Ján", "surname": "Lupták", "pzs": "PZS-001", "zpr": "ZPR-302", "favourite": True},
{"id": 2, "title": "MUDr.", "name": "Eva", "surname": "Horváthová", "pzs": "PZS-002", "zpr": "ZPR-314"},
{"id": 3, "title": "MUDr.", "name": "Michal", "surname": "Bruno", "pzs": "PZS-003", "zpr": "ZPR-315"},
{"id": 4, "title": "MUDr.", "name": "Katarína", "surname": "Nováková", "pzs": "PZS-004", "zpr": "ZPR-318"},
{"id": 5, "title": "MUDr.", "name": "Peter", "surname": "Kováč", "pzs": "PZS-005", "zpr": "ZPR-322"},
{"id": 6, "title": "MUDr.", "name": "Lucia", "surname": "Vargová", "pzs": "PZS-006", "zpr": "ZPR-330"},
{"id": 7, "title": "MUDr.", "name": "Tomáš", "surname": "Bielik", "pzs": "PZS-007", "zpr": "ZPR-333"},
{"id": 8, "title": "MUDr.", "name": "Anna", "surname": "Farkašová", "pzs": "PZS-008", "zpr": "ZPR-340"},
{"id": 9, "title": "MUDr.", "name": "Martin", "surname": "Šimko", "pzs": "PZS-009", "zpr": "ZPR-350"},
{"id": 10, "title": "MUDr.", "name": "Zuzana", "surname": "Krajčírová", "pzs": "PZS-010", "zpr": "ZPR-360"},
{"id": 11, "title": "MUDr.", "name": "Richard", "surname": "Mlynár", "pzs": "PZS-011", "zpr": "ZPR-370"},
{"id": 12, "title": "MUDr.", "name": "Mária", "surname": "Tóthová", "pzs": "PZS-012", "zpr": "ZPR-380"},
{"id": 13, "title": "MUDr.", "name": "Jozef", "surname": "Baláž", "pzs": "PZS-013", "zpr": "ZPR-390"},
{"id": 14, "title": "MUDr.", "name": "Iveta", "surname": "Cibulková", "pzs": "PZS-014", "zpr": "ZPR-400"},
{"id": 15, "title": "MUDr.", "name": "Ľuboš", "surname": "Kmeť", "pzs": "PZS-015", "zpr": "ZPR-410"},
{"id": 16, "title": "MUDr.", "name": "Gabriela", "surname": "Novotná", "pzs": "PZS-016", "zpr": "ZPR-420"},
{"id": 17, "title": "MUDr.", "name": "Viktor", "surname": "Urban", "pzs": "PZS-017", "zpr": "ZPR-430"},
{"id": 18, "title": "MUDr.", "name": "Petra", "surname": "Rybáriková", "pzs": "PZS-018", "zpr": "ZPR-440"},
{"id": 19, "title": "MUDr.", "name": "Štefan", "surname": "Kollár", "pzs": "PZS-019", "zpr": "ZPR-450"},
{"id": 20, "title": "MUDr.", "name": "Monika", "surname": "Veselá", "pzs": "PZS-020", "zpr": "ZPR-460"},
{"id": 21, "title": "MUDr.", "name": "Radoslav", "surname": "Bartoš", "pzs": "PZS-021", "zpr": "ZPR-470"},
{"id": 22, "title": "MUDr.", "name": "Jana", "surname": "Poláková", "pzs": "PZS-022", "zpr": "ZPR-480"},
{"id": 23, "title": "MUDr.", "name": "Filip", "surname": "Mikuš", "pzs": "PZS-023", "zpr": "ZPR-490"},
{"id": 24, "title": "MUDr.", "name": "Denisa", "surname": "Kučerová", "pzs": "PZS-024", "zpr": "ZPR-500"},
{"id": 25, "title": "MUDr.", "name": "Lukáš", "surname": "Varga", "pzs": "PZS-025", "zpr": "ZPR-510"}
] %}

{{ Table(
id="table-favourites",
type="Favourites",
columns=columns,
data=doctors,
search=True,
) }}

<!-- {{ Table(
id="table-select-edit",
type="Select-Edit",
columns=columns,
data=doctors,
search=True,
download=True,
print=True,
delete=True,
create=True
) }}

{{ Table(
id="table-select",
type="Select",
columns=columns,
data=doctors,
search=True,
download=True,
print=True,
delete=True,
create=True
) }}

{{ Table(
id="table-edit",
type="Edit",
columns=columns,
data=doctors,
search=True,
download=True,
print=True,
delete=True,
create=True
) }} -->

{% endblock %}